* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

#__next {
  width: 80vw;
  margin: auto;
}

main {
  padding: 5px 10px;
}

main h1 {
  text-align: center;
  margin: 15px 0;
}

a {
  text-decoration: none;
  color: gray;
  display: block;
  margin: 3px 0;
  font-size: 20px;
}

a:hover {
  color: black;
}

h2 {
  font-size: 36px;
  text-decoration: underline;
  text-transform: uppercase;
}